# Práctica 2. Datos estructurados: diccionarios y dataframes

Realizado por: David Jiménez Castro

## Diccionarios

### Ejercicio 1. Frecuencia de pares
Diseña una función dpar(M), en que, dada una lista M de números enteros
positivos, devuelva un diccionario donde se muestre la frecuencia de aparición de los números
pares de M.

**Respuesta**

In [ ]:
def dpar(M):
    """Función que recibe una lista de números y devuelve un diccionario
    con el número de veces que aparece cada número par"""

    diccionario_frecuencias = {}

    for numero in M:
        # Si es impar pasamos al siguiente número
        if numero % 2 != 0:
            continue
        
        # Añadimos entrada si numero no es una clave
        if numero not in diccionario_frecuencias.keys():
            diccionario_frecuencias.update({numero:1})
        else:
            diccionario_frecuencias[numero] += 1

    return diccionario_frecuencias

**Comprobación**

In [5]:
M = [12, 19, 19, 18, 18, 16, 18, 13, 19, 18, 12, 18, 11, 20, 14,\
14, 20, 20, 20, 16, 13, 15, 19, 14, 12]
dpar(M)

{12: 3, 18: 5, 16: 2, 20: 4, 14: 3}

### Ejercicio 2. Temperatura ciudades
Se tienen las temperaturas de ciudades durante los primeros 4 meses
del año en una lista de listas, donde cada lista representa la información de una ciudad (nombre y luego las temperaturas). 

Diseña una función TempMaxMin(lst) en que, dada una lista de listas
como que la que se presenta, devuelva un diccionario con los nombres de las ciudades como claves y como valores una lista con las temperaturas máxima y mínima.

**Respuesta**

In [7]:
def TempMaxMin(lst):
    """Función que recibe una lista con el nombre de la ciudad en la
    primera posición y sus temperaturas en las siguientes y devuelve
    un diccionario con el nombre como clave y como valor una lista
    con la temperatura máxima y la mínima"""

    ciudades_dict = {}

    for ciudad in lst:
        nombre_ciudad = ciudad[0]
        temp_max = max(ciudad[1::])
        temp_min = min(ciudad[1::])

        ciudades_dict.update({nombre_ciudad:[temp_max,temp_min]})

    return ciudades_dict

**Comprobación**

In [8]:
lst_ciudad = [['Londres', 3.4, 6.3, 10.5, 6.8], \
['Oslo', -3.8, -5.0, 5.1, 4.2], ['Berlin', 7.5, 4.1, 12.3, 13.0], \
['Málaga', 14.7, 12.3, 19.5, 18.4]]
M = TempMaxMin(lst_ciudad)
M == {'Berlin': [13.0, 4.1], 'Londres': [10.5, 3.4], \
'Málaga': [19.5, 12.3], 'Oslo': [5.1, -5.0]}

True

### Ejercicio 3. Temperaturas nevadas

Se dispone de dos diccionarios. En uno de ellos (ej. dPersC) se guardan,
como claves, nombres de personas y como valores los nombres de las ciudades donde residen; y en el otro (ej. dCiudT) se guardan, como claves, nombres de ciudades y como valores las respectivas temperaturas de esas ciudades (en ºC), medidas el día de la primera nevada del año.

Diseña una función PersMayTemp(dPersC, dCiudT) en que, dados dos diccionarios como los descritos, devuelva una lista con los nombres de las personas que residen en ciudades en las cuales la temperatura estuvo por debajo de 0ºC el día de esa primera nevada de este año. La lista resultante debe estar ordenada alfabéticamente. 

En caso de no haber ciudades con temperaturas bajo cero, se devolverá la lista vacía.

**Respuesta**

In [ ]:
def PersMayTemp(dPersC, dCiudT:dict):
    """Función que recibe dos diccionarios. 
    El primero tiene por clave el nombre de personas y valor el nombre
    de las ciudades en las que residen.
    El segundo tiene por clave el nombre de la ciudad y como valores
    las respectivas temperaturas de las ciudades en la primera nevada.
    Se devuelve una lista con el nombre de las personas que residen en las
    ciudades las cuales cuando nevó por primera vez la temperatura estaba por
    debajo de 0. Además la lista está ordenada alfabéticamente.
    Si no hay ciudades se devuelve una lista vacía
    """
    nombres = []
    ciudades = []
    for key,value in dCiudT.items():
        if value < 0:
            ciudades.append(key)

    for key, value in dPersC.items():
        for ciudad in ciudades:
            # Nos aseguramos de que no se repita el nombre
            # de las personas:
            if ciudad in value and key not in nombres:
                nombres.append(key)

    return sorted(nombres)

**Comprobación**

In [20]:
dCi = {'Manchester': 1.1, 'Madrid': -8.9, 'Gava': 4, \
'Pobla de Segur': -5.6, 'Lleida': -3.2, 'Elche': 2.1, \
'Burgos': -6.0, 'Sant Boi': 4.5}
dPe = {'Pepe': 'Manchester', 'Lionel': 'Gava', 'Mike': 'Sant Boi', \
'Puyol': 'Pobla de Segur', 'Jaime': 'Elche', 'Sergi': 'Lleida',\
'Ernesto': 'Madrid', 'Carlos': 'Burgos'}
print(PersMayTemp(dPe, dCi))
print(PersMayTemp({}, {}))

['Carlos', 'Ernesto', 'Puyol', 'Sergi']
[]

### Ejercicio 4. Hipertensión
Se dispone de un diccionario de personas con su presión arterial. En cada elemento del diccionario la clave es el nombre de la persona y el valor es una lista con la edad y las presiones sistólica (alta) y diastólica (baja). 

Si consideramos que una persona sufre de hipertensión si la presión sistólica es mayor o igual a 140 mmHg o la diastólica es mayor o igual a 90 mmHg.

Diseña una función lst_hiper(dic, edad) en que, dado un diccionario dic como el descrito y una edad, devuelva la lista de los nombres de las personas menores de esa edad que sufren hipertensión arterial.

**Respuesta**

In [33]:
def lst_hiper(dicc, edad):
    """Función que recibe un diccionario con el nombre como clave y
    valor una lista con la edad, presión sistólica y diastólica, devuelve
    una lista con los nombres de las personas con hipertensión"""

    nombres = []

    for key, value in dicc.items():
        if value[0] < edad and value[1] >= 140 and value[2] >= 90:
            nombres.append(key)

    return sorted(nombres)

**Comprobación**

In [34]:
dpers = {'Maria': [40, 135, 90],'Nuria': [63, 141, 92], \
'Jose': [47, 110, 59], 'Luis': [49, 146, 94], \
'Oriol': [52, 130, 89], 'Carlos': [65, 125, 89], \
'Pepe': [70, 130, 92] }
print(lst_hiper(dpers, 45))
print(lst_hiper(dpers, 70))

[]
['Luis', 'Nuria']

### Ejercicio 5. Nivel de potasio en sangre

Se tiene un diccionario con los valores de concentración de potasio
en sangre ([K+]) de un grupo pacientes medidos antes de entrar a terapia de hemodiálisis. La clave es el nombre del paciente y el valor es la [K+] (en mmol/L). 

Además, se tiene una lista del tipo [valor1, valor2, valor3, valor4] con los distintos valores que clasifican la condición clínica en que
están los pacientes, de acuerdo a las concentraciones de potasio en sangre ([K+]).

Estos valores dependen del tipo de población (niños, adultos, etc.).

La condición clínica del paciente sigue el siguiente criterio de clasificación:
- Si el valor de [K+] es menor que valor1 indica 'hipokalemia crítica',
- si es mayor o igual al valor1 y menor que el valor2 sería 'hipokalemia leve',
- si está entre valor2 y valor3 (ambos inclusive) indica 'normal',
- si es mayor que valor3 y menor o igual que valor4 es 'hiperkalemia moderada'
- y valores mayores que valor4 sería 'hiperkalemia severa'.

Diseña una función nivelKsang(dK, lst) en que, dado un diccionario dK que tiene como clave el nombre de un paciente y como valor su nivel de [K+] en sangre, y una lista lst con 4 valores de clasificación, como los descritos, devuelva un diccionario que tenga como claves los nombres de los pacientes y como valores su clasificación, de acuerdo a los niveles de [K+] en sangre.

**Respuesta**

In [42]:
def nivelKsang(dK,lst):
    """Función que recibe un diccionario {nombre paciente: nivel K+}
    y una lista con 5 valores que permitan clasificar el estado del
    paciente y devuelve un diccionario {nombre: classificación}"""

    pacientes = {}

    for key,value in dK.items():
        if value < lst[0]:
            level = 'hipokalemia crítica'
        elif value >= lst[0] and value < lst[1]:
            level = 'hipokalemia leve'
        elif value >= lst[1] and value <= lst[2]:
            level = 'normal'
        elif value > lst[2] and value <= lst[3]:
            level = 'hiperkalemia moderada'
        else:
            level = 'hiperkalemia severa'

        pacientes.update({key:level})

    return pacientes

**Comprobación**

In [44]:
dK1 = {'Luis': 2.2, 'Carlos': 7.0, 'Laia': 4.0, 'Mikel': 5.5, \
'Jordi': 5.2, 'Anna': 3.6, 'Joe': 7.2}
ls1 = [2.0, 3.5, 5.2, 7.0]
dic = nivelKsang(dK1, ls1)
dic == {'Luis': 'hipokalemia leve', \
'Carlos': 'hiperkalemia moderada', 'Laia': 'normal', \
'Mikel': 'hiperkalemia moderada', 'Jordi': 'normal', \
'Anna': 'normal', 'Joe': 'hiperkalemia severa'}

True

### Ejercicio 6. Temperatura ciudades en DataFrame

A partir de lst_ciudad de las temperaturas de las ciudades de los primeros 4 meses del año del ejercicio 2:

1. Diseña un código para crear un objeto DataFrame que contenga en sus columnas: 'Ciudad','Enero', 'Febrero', 'Marzo', 'Abril' y los datos sean los valores de las listas de ciudades de lst_ciudad. Agregar como nombre del DataFrame: 'Temperatura ciudades'
2. Escribe un código para agregar la temperatura mínima, máxima, media y desviación estándar de los 4 primeros meses del año al DataFrame anterior.

**Respuesta**

In [57]:
# Apartado 1:
import pandas as pd
# Creamos el diccionario {nombre columna:valor}
data = {
    "Ciudad": ["Londres", "Oslo", "Berlín", "Málaga"],
    "Enero": [3.4, -3.8, 7.5, 14.7],
    "Febrero": [6.3, -5.0, 4.1, 12.3],
    "Marzo": [10.5, 5.1, 12.3, 19.5],
    "Abril": [6.8, 4.2, 13.0, 18.4]
}

temperatura_ciudades = pd.DataFrame(data)
# Mostramos el dataframe:
print(temperatura_ciudades)

    Ciudad  Enero  Febrero  Marzo  Abril
0  Londres    3.4      6.3   10.5    6.8
1     Oslo   -3.8     -5.0    5.1    4.2
2   Berlín    7.5      4.1   12.3   13.0
3   Málaga   14.7     12.3   19.5   18.4

In [58]:
# Apartado 2:
import numpy as np

temperatura_ciudades['Min'] = temperatura_ciudades.iloc[:,1::].min(axis=1)
temperatura_ciudades['Max'] = temperatura_ciudades.iloc[:,1::].max(axis=1)
temperatura_ciudades['Media'] = temperatura_ciudades.iloc[:,1::].mean(axis=1)
temperatura_ciudades['StdDev'] = temperatura_ciudades.iloc[:,1::].std(axis=1)

temperatura_ciudades

    Ciudad  Enero  Febrero  Marzo  Abril   Min   Max      Media    StdDev
0  Londres    3.4      6.3   10.5    6.8   3.4  10.5   6.816667  2.908274
1     Oslo   -3.8     -5.0    5.1    4.2  -5.0   5.1   0.100000  4.726521
2   Berlín    7.5      4.1   12.3   13.0   4.1  13.0   9.000000  3.940389
3   Málaga   14.7     12.3   19.5   18.4  12.3  19.5  16.116667  3.142407

### Ejercicio 7. Base de datos cardíaca.

En este ejercicio se pide que se lea o cargue la base de datos desde heart.csv a un objeto DataFrame
(por ejemplo, dfCardio) y se presenten los siguientes resultados:
1. Mostrar las primeras 10 instancias (filas) del DataFrame.
2. Calcular el número (conteo) de hombres y mujeres.
3. Calcular el número (conteo) de casos de angina de pecho inducida (atributo: exang)
4. Hallar el DataFrame con la estadística descriptiva de la frecuencia cardiaca (thalach)
5. Hallar un DataFrame que incluya la estadística descriptiva de la presión arterial sistólica en
reposo (trestbps) y el colesterol (chol). (ambos en el mismo DataFrame)

**Respuesta**

In [ ]:
import pandas as pd

heart = pd.read_csv('heart.csv')

# 1. Mostrar las 10 primeras filas:
heart.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [61]:
# 2. Calcular el número de hombres y de mujeres

heart_men = heart[heart['sex'] == 1]
n_men = len(heart_men)
n_women = len(heart) - n_men

print(f"Número de hombres: {n_men}\nNúmero de mujeres: {n_women}")

Número de hombres: 207
Número de mujeres: 96

In [62]:
# 3. Calcular el número de casos de angina de pecho inducida

ang_inducidas = heart[heart['exang'] == 1]
n_angina_inducida = len(ang_inducidas)

print(f"Número de anginas inducida: {n_angina_inducida}")

Número de anginas inducida: 99

In [66]:
# 4. Hallar el DataFrame con la estadística descriptiva de la frecuencia
# cardíaca.

frec_cardiaca = heart['thalach']
estadística_descriptiva = frec_cardiaca.describe()
estadística_descriptiva

count    303.000000
mean     149.646865
std       22.905161
min       71.000000
25%      133.500000
50%      153.000000
75%      166.000000
max      202.000000
Name: thalach, dtype: float64

In [70]:
# 5. Hallar un Dataframe que incluya la estadística descriptiva
# en presión arterial sistólica en reposo y colesterol

presion_col = heart[['trestbps','chol']] 
presion_col_est = presion_col.describe()

presion_col_est

         trestbps        chol
count  303.000000  303.000000
mean   131.623762  246.264026
std     17.538143   51.830751
min     94.000000  126.000000
25%    120.000000  211.000000
50%    130.000000  240.000000
75%    140.000000  274.500000
max    200.000000  564.000000